<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
  <title>CRUD JAVA SPRING BOOT THIMELEAF</title>
</head>
<body>

<nav th:replace="~{layout :: page_navbar}"></nav>

<div class="container py-3">
  <h1 class="text-center my-4">Pessoas Cadastradas</h1>

  <a class="btn btn-primary mb-3" href="/pessoas/create">Adicionar Pessoa</a>

  <table class="table">
    <thead>
     <tr>
       <th>ID</th>
       <th>Nome</th>
       <th>Sobrenome</th>
       <th>Idade</th>
       <th>Ação</th>
     </tr>
    </thead>

    <tbody class="table-group-divider">
        <tr th:each="obj : ${pessoas}">
          <td th:text="${obj.id}"></td>
          <td th:text="${obj.nome}"></td>
          <td th:text="${obj.sobrenome}"></td>
          <td th:text="${obj.idade}"></td>

          <td style="white-space:nowrap">
            <a class="btn btn-primary btn-sm" th:href="@{/pessoas/edit/{id}(id=${obj.id})}">Editar</a>
            <a class="btn btn-danger btn-sm" th:href="@{/pessoas/delete/{id}(id=${obj.id})}" onclick="return confirm('Certeza, quer Excluir?')">DELETE</a>
          </td>
        </tr>
    </tbody>

  </table>
</div>

<footer th:replace="~{layout :: page_footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>